:root {
   font-family: 'Open Sans', cursive;
}

body {
   width: 400px;
   margin: auto;
}

nav {
   position: fixed;
   top: 0;
   background-color: white;
   display: block;
   text-align: center;
   padding: 0;
   margin: auto;
   width: 400px;
}

nav ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

nav ul li {
   width: 100px;
   height: 80px;
   display: inline-block;
}

nav ul li a {
   display: block;
   line-height: 80px;
   width: 100%;
   height: 100%;
   transition: 375ms;
}

a:link {
   color: blue;
   text-decoration: none;
}

a:hover {
   background-color: #ddf;
}

a:active {
   background-color: red;
}

nav + p:first-of-type {
   margin-top: 80px;
}
